@import "newgame.css";

@font-face {
    font-family: SouthPark;
    src: url(../fonts/southpark.ttf)
}

@font-face {
    font-family: Sound-Fx;
    src: url(../fonts/soundfx.ttf)
}

body {
    font-family: SouthPark, fantasy;
}
