@font-face {
    font-family: SouthPark;
    src: url(../fonts/southpark.ttf)
}

@font-face {
    font-family: Sound-Fx;
    src: url(../fonts/soundfx.ttf)
}

body {
    font-family: SouthPark, fantasy;
}

h1, h2, h3, h4 {
    font-family: SouthPark, fantasy;
    text-align: center;
}

h1 {
    font-size: 64px;
    color: #EFD610;
    margin-top: 50px;
}

h2 {
    font-size: 48px;
    color: #AD1021;
    margin-top: 25px;
}

h3 {
    font-size: 25px;
    color: #39ADC6;
    margin-top: 25px;
}

h4 {
    font-size: 25px;
    color: #F2640C;
    margin-top: 25px;
}

